.notification
  %p.notice チャットグループが作成されました。
.wrapper
  .sidebar
    .header
      %p.name takaba
      %ul.nav
        %li.nav__list
          %a{:href => "#"}
            %i.fa.fa-pencil-square-o.icon
        %li.nav__list
          %a{:href => "#"}
            %i.fa.fa-cog.icon
    .contents
      .group
        %a{:href => "#"}
          %p.group__name takaba
          %p.group__message a long time no see
      .group
        %a{:href => "#"}
          %p.group__name takaba2
          %p.group__message Hello world!
  .main
    .header
      .left-header
        %p.left-header__title takabaグループ
        %ul.left-header__members
          Member :
          %li.member takaba
      .right-header
        %a.right-header__button{:href => "#"}
          Edit
    .contents
      .message
        .message__info
          %p.name takaba
          %p.date 2016/10/02 06:27:07
        .message__content
          %p.description なるほど
      .message
        .message__info
          %p.name satoh
          %p.date 2016/10/02 06:27:07
        .message__content
          %p.description command Enterで送信したい感がある
    .form
      %form.js-form{:action => "#", :method => "post"}
        %input.form__message{:name => "mssg", :placeholder => "type a message", :type => "text"}/
        .form__upload
          %label.upload-label{:for => "upload-icon"}
            %i.fa.fa-picture-o.icon
        %input.form__submit{:name => "commit", :type => "submit", :value => "Send"}/
